main{
    box-sizing: border-box;
}
.logo{
    display: inline-block;
}
.logo>img{
    width:50%;
    height:50%;
}
.menu{
   display: inline-block;
}
.menu li{
   display:inline;
   margin-right: 20px;
   text-decoration: none;
}
