@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colores*/
:root {
  --verdeOscuro: #283618;
  --verdeClaro: #606c38;
  --beige: #fefae0;
}

/*estilos index*/
body{
  background-color: var(--beige);
}

nav {
  background: var(--verdeClaro);
  height: 80px;
  width: 100%;
}

.logog5 {
  height: 80px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: var(--beige);
  font-size: 20px;
  padding: 8px 15px;
  border-radius: 3px;
  text-decoration: none;
}
li a.active,
li a:hover {
  background: var(--verdeOscuro);
  transition: 0.5s;
}
.btncheck {
  font-size: 30px;
  color: var(--beige);
  float: right;
  line-height: 100px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .logog5 {
    display: none;
  }
}

@media (max-width: 858px) {
  .btncheck {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--verdeClaro);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover,
  li a.active {
    background: none;
    color: var(--verdeOscuro);
  }
  #check:checked ~ ul {
    left: 0;
  }
  .logog5 {
    display: none;
  }
}

.newcollection {
  background-image: url(/Media/image/foto\ portada.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh;
  font-size: 8vh;
  text-shadow: 1px 1px 2px black, 0 0 5px rgb(19, 19, 19);
  font-style: oblique;
  

}
 .newcollection h1 {
  text-align: center;
  padding: 50px 50px;
}
#categories{
  text-align: center;
  padding: 20px 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}
#products{
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;

}
#products h4{
  background-color: #606c38;
  padding:10px;
  border-radius:5px ;
  font-size: 20px;
}
#products h4:hover{
  background-color: #41601e;
  
}
#boxes{
  display:grid;
  grid-template-columns: auto auto auto;
  padding: 50px;
}
.change{
  border-left: rgb(238, 201, 131) solid;
  border-right: rgb(238, 201, 131) solid;
}
#boxes div{
  height: 20vh;
  width: 30vw;
  padding: 10px;
}
#boxes i{
padding: 5px 50px 15px 50px;
color:var(--verdeOscuro);
font-weight:700;
font-size: 30px;
}
#boxes h3 {
  padding:10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#boxes p{
  padding:5px;
  font-family: Arial, Helvetica, sans-serif;
}
.copy{
  text-align: center;

}
#footer{
  display: flex;
  justify-content: space-around;
  font-family: roboto mono;
  background-color: blanchedalmond;
}
#footer h3{
  text-align: center;
  margin-bottom: 10px;
}
.socialMedia i{
   margin:10px;
   font-size: 30px;
}
.copy{
  margin:30px;
}
/* style de pagina de productos empieza aqui*/

.banner {
  text-align: center;
  margin-bottom: 4rem;
}
.title-product {
  font-size: 2rem;
  color: var(--verdeOscuro);
  font-family: roboto mono;
  font-weight: 500;
}

.banner img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  margin-bottom: 2rem;
}

.produt {
  align-items: center;
}

.card {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.section-card {
  width: 20rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img-card {
  width: 100%;
  height: 70%;
  object-fit: contain;
}
.content-card {
  text-align: center;
}

.title-card {
  padding: 0.5rem;
  font-family: roboto mono;
  font-weight: 500;
  color: var(--verdeOscuro);
}

.text-card {
  padding: 0.5rem;
  color: var(--verdeClaro);
  font-family: roboto mono;
  font-weight: 300;
  text-align: center;
}

.section-btn {
  text-align: center;
  margin-top: 0.8rem;
}

.button {
  font-family: roboto mono;
  background-color: var(--verdeClaro);
  color: var(--beige);
  text-transform: uppercase;
  padding: 0.4rem 1.2rem;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.6s, color 0.6s; 
}

.button:hover {
  background-color: var(--beige);
  color: var(--verdeOscuro);
}

/* Aqui termina style de pagina de productos*/

/* Aqui empieza style de contacto*/
.contacto {
  font-family: roboto mono;
  background: var(--verdeClaro);
  color: var(--beige);
  padding: 0px
}
.newsletter {
  font-family: roboto mono;
  background: var(--verdeClaro);
  color: var(--beige);
  padding-bottom: 5px;
  }
/* Aqui termina style de contacto*/

/* Aqui empieza style de About*/

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.about {
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 0 10px 20px;
  width: 95%;
  display: flex;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img-about {
  width: 250px;
  height: 250px;
  margin-top: 10px;
  object-fit: cover;
  border-radius: 100px;
}

.title-about {
  padding: 0.5rem;
  font-family: roboto mono;
  font-weight: 500;
  color: var(--verdeOscuro);
  text-align: center;
}

.content-about {
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}



@media only screen and (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .about {
    flex-direction: column;
    align-items: center; 
    background-color: #fff;
    margin: 0 0 20px;
    width: 90%;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .img-about {
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }

  .content-about {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}



@media only screen and (max-width: 480px) {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about {
    width: 100%;
  }

  .img-about {
    width: 120px;
    height: 120px;
    border-radius: 60px;
  }
}

/* Aqui termina style de About*/